[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-debug-toolbar = "*"
dj-config-url = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
stripe = "*"
boto3 = "*"
botocore = "*"
coverage = "*"
pytz = "*"
gunicorn = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.10"
