[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
stripe = "*"
sqlparse = "*"
s3transfer = "*"
requests-oauthlib = "*"
pytz = "*"
oauthlib = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
