{% extends "base.html" %}
{% load crispy_forms_filters %}{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block header_title %}{% trans "Sign In" %}{% endblock %}


{% block banner %}

        <!-- Inner Banner -->
        <div class="inner-banner inner-banner-bg2">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>Sign in</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Sign in</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

{% endblock %}


{% block content %}

        <!-- User Area -->
        <div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="user-img">
                            <img src="{% static 'images/faq-img.jpg' %}" alt="faq" />
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="user-all-form">
                            <div class="contact-form">
                                <h3 class="user-title"> Sign in</h3>



                                <form method="POST" action="{% url 'account_login' %}">

                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                                 {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
                                                <input type="hidden" name="{{ redirect_field_name }}" id="name" class="form-control" value="{{ redirect_field_value }}">
                                                {% endif %}
                                            </div>
                                        </div>


                                        <div class="col-lg-12 form-condition">
                                            <div class="agree-label">
                                                <label for="chb1">
                                                    <a class="forget" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="default-btn">
                                               {% trans "Sign In" %}
                                            </button>
                                        </div>

                                    </div>
                                </form>

                                {% get_providers as socialaccount_providers %}

                                {% if socialaccount_providers %}
                                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                                <div class="socialaccount_ballot">

                                  <ul class="socialaccount_providers">
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                  </ul>

                                  <div class="login-or">{% trans 'or' %}</div>

                                </div>

                                {% include "socialaccount/snippets/login_extra.html" %}

                                {% else %}
                                <p><br><br>{% blocktrans %}If you have not created an account yet, then please
                                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Area End -->






{% endblock %}
