{% extends "base.html" %} {% load static %}

{% load i18n %}


{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <!-- breadcrumb start -->
    <div class="breadcrumb-area bg-overlay" style="background-image:url('{% static 'assets/img/bg/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0 text-center">
                    <h2 class="page-title">{% trans "Verify Your E-mail Address" %}</h2>
                    <ul class="page-list">
                        <li><a href="{%  url 'account_login' %} ">Sign in</a></li>
                        <li>verification</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

     <!-- Verification-page-Start -->
    <div class="signin-page-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7">
                    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Verification-page-end -->

{% endblock %}
