{% extends 'base.html' %}{% load static %} {% load filter_pagination %}
{% block header_title %} All Course {% endblock %}
{% block content %}

    <!-- Inner Banner -->
        <div class="inner-banner inner-banner-bg10">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>All Courses</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Courses</li>
                    </ul>
                </div>
            </div>
        </div>
     <!-- Inner Banner End -->



    <!-- Courses Area -->
        <div class="courses-area pt-100 pb-70">
            <div class="container">
                <div class="product-topper mb-45">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="product-title">
                                <h3>We found  <span> {{ total }} </span>courses available for you</h3>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="product-list">
                                <select class="form-select" aria-label="Default select example" >
                                    <option selected>Default Price</option>
                                    <option value="1">Price High To Low</option>
                                    <option value="2">Price Low To High</option>
                                </select>
                                <i class="ri-arrow-down-s-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                     {% for course in courses %}
                        <div class="col-lg-4 col-md-6">
                        <div class="courses-item">
                            <a href="{% url 'single_course' course.pk %}">
                                <img src="{{ course.courseImage.url }}" alt="Courses" />
                            </a>
                            <div class="content">
                                <a href="{% url 'single_course' course.pk %}" class="tag-btn">Design</a>
                                <div class="price-text">£ {{ course.price }}</div>
                                <h3><a href="{% url 'single_course' course.pk %}">{{ course.title }}</a></h3>
                                <ul class="course-list">
                                    <li><i class="ri-time-fill"></i> {{ course.duration_hour }} hr {{ course.duration_min }} min</li>
                                    <li><i class="ri-vidicon-fill"></i> 67 lectures</li>
                                </ul>
                                <div class="bottom-content">
                                    <a href="instructors-details.html" class="user-area">
                                        <img src="{% static 'images/courses/courses-instructors1.jpg' %}" alt="Instructors">
                                        <h3>David warner</h3>
                                    </a>

                                    <div class="rating">
                                        <i class="ri-star-fill"></i>4k+ rating
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}





                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="pagination-area">

                             {% if courses.has_previous %}
                                 <a href="{% relative_url courses.previous_page_number 'page' request.GET.urlencode %}" class="prev page-numbers">
								    <i class="flaticon-left-arrow"></i>
							    </a>
                             {% endif %}



                            {% for i in courses.paginator.page_range %}
                                {% if courses.number == i %}
                                    <span class="page-numbers current" aria-current="page">{{ i }}</span>

                                {% else  %}
                                    <a href="{% relative_url i 'page' request.GET.urlencode %}" class="page-numbers">2</a>
                                {% endif %}


                            {% endfor %}


                            {% if courses.has_next %}
                                <a href="{% relative_url courses.next_page_number 'page' request.GET.urlencode %}" class="next page-numbers">
								    <i class="flaticon-chevron"></i>
							    </a>
                            {% endif %}




						</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Courses Area End -->

{% endblock %}