{% extends "base.html" %} {% load static %}
{% block header_title %} {{ course.title }} {% endblock %}

{% block content %}

     <!-- Inner Banner -->
    <div class="inner-banner inner-banner-bg9">
            <div class="container">
                <div class="inner-title">
                    <h3>{{ course.title }}</h3>
                    <div class="rating">
                        <i class="ri-star-fill"></i>4k+ rating
                    </div>
                    <div class="inner-banner-content">
                        <ul class="course-list">
                            <li><i class="ri-time-fill"></i> {{ course.duration_hour }} hr {{ course.duration_min }} min</li>
                        </ul>
                    </div>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Courses details</li>
                    </ul>
                </div>
            </div>
        </div>
     <!-- Inner Banner -->


     <!-- Courses Details Area -->
        <div class="courses-details-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="courses-details-contact">
                            <div class="tab courses-details-tab">
                                <ul class="tabs">
                                    <li>
                                        Overview
                                    </li>

                                    <li>
                                        Reviews
                                    </li>
                                </ul>

                                <div class="tab_content current active">
                                    <div class="tabs_item current">
                                        <div class="courses-details-tab-content">
                                            <div class="courses-details-into">
                                               <h3>Description</h3>
                                                <p>
                                                    {{ course.description }}
                                                </p>
                                            </div>
                                            <div class="courses-details-into">
                                                <h3>Requirements</h3>
                                                <p>
                                                    {{ course.requirement }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="tabs_item">
                                        <div class="courses-details-tab-content">
                                            <div class="courses-details-review-form">
                                                <h3>Customer Reviews</h3>
                                                <div class="review-title">
                                                    <div class="rating">
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-fill"></i>
                                                        <i class="ri-star-half-fill"></i>
                                                    </div>
                                                    <p>Based on 3 reviews</p>
                                                    <a href="courses-details.html" class="default-btn btn-right">Write a Review <span></span></a>
                                                </div>

                                                <div class="review-comments">
                                                    <div class="review-item">
                                                        <div class="content">
                                                            <img src="assets/images/courses/instructors1.jpg" alt="Images">
                                                            <div class="content-dtls">
                                                                <h4>Heather Joanne </h4>
                                                                <span>15 Jan, 2022 AT 06:30 PM</span>
                                                            </div>
                                                        </div>
                                                        <div class="rating">
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star-half'></i>
                                                        </div>
                                                        <h3>Good</h3>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                            Ut enim ad minim veniam, quis nostrud exercitation.
                                                        </p>
                                                        <a href="shop-details.html" class="review-report-link">Report as Inappropriate</a>
                                                    </div>

                                                    <div class="review-item">
                                                        <div class="content">
                                                            <img src="assets/images/courses/instructors2.jpg" alt="Images">
                                                            <div class="content-dtls">
                                                                <h4>Penelope Rachel</h4>
                                                                <span>15 Jan, 2022  AT 06:30 PM</span>
                                                            </div>
                                                        </div>
                                                        <div class="rating">
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star-half'></i>
                                                        </div>
                                                        <h3>Good</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

                                                        <a href="courses-details.html" class="review-report-link">Report as Inappropriate</a>
                                                    </div>

                                                    <div class="review-item">
                                                        <div class="content">
                                                            <img src="assets/images/courses/instructors3.jpg" alt="Images">
                                                            <div class="content-dtls">
                                                                <h4>Leonard Richard</h4>
                                                                <span> 15 Jan, 2022  AT 06:30 PM</span>
                                                            </div>
                                                        </div>
                                                        <div class="rating">
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star-half'></i>
                                                        </div>
                                                        <h3>Good</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

                                                        <a href="courses-details.html" class="review-report-link">Report as Inappropriate</a>
                                                    </div>
                                                </div>

                                                {% if request.user.is_authenticated %}
                                                <div class="review-form">
                                                    <div class="contact-wrap-form">
                                                        <div class="contact-form">
                                                            <h4>Write a Review</h4>
                                                            <form id="contactForm">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12 col-sm-12">
                                                                        <div class="form-group">
                                                                            <input type="text" name="website" class="form-control" required data-error="Your website" placeholder="Your Website">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message.."></textarea>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12">
                                                                        <button type="submit" class="default-btn">
                                                                            Post A Comment
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="courses-details-sidebar">
                            <img src="{{ course.courseImage.url }}" alt="Courses" />
                            <div class="content">
                                <h3>$ {{ course.price }}</h3>

                                <br><br>

                                <form method="post" action="{% url 'add_to_cart'  course.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <button  type="submit" class="default-btn ">
                                                        Add  Course
                                                    </button>
{#                                     <a href="cart.html" class="default-btn">Add to cart</a>#}
                                </form>
                                <ul class="social-link">
                                    <li class="social-title">Share this course:</li>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.com/" target="_blank">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses Details Area End -->

{% endblock %}

