{% extends "base.html" %}{% load static %}

{% block header_title %}
    Cart
{% endblock %}

{% block banner %}

        <!-- Inner Banner -->
        <div class="inner-banner inner-banner-bg3">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>Cart</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->
{% endblock %}


{% block content %}

          <!-- Start Cart Area -->
		    <section class="cart-wraps-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<form>
							<div class="cart-wraps">
								<div class="cart-table table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Course</th>
												<th scope="col">Name</th>
												<th scope="col">Unit Price</th>
												<th scope="col">Total</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td class="courses-thumbnail">
													<a href="cart.html">
														<img src="{% static 'images/courses/courses-img1.jpg' %}" alt="Image">
													</a>
												</td>

												<td class="courses-name">
													<a href="cart.html">UI/UX design</a>
                                                </td>

												<td class="courses-price">
													<span class="unit-amount">$30.00</span>
												</td>

												<td class="courses-subtotal">
													<span class="subtotal-amount">$30.00</span>

													<a href="cart.html" class="remove">
														<i class="ri-delete-bin-6-line"></i>
													</a>
												</td>
											</tr>

                                            <tr>
												<td class="courses-thumbnail">
													<a href="cart.html">
														<img src="{% static 'images/courses/courses-img2.jpg' %}" alt="Image">
													</a>
												</td>

												<td class="courses-name">
													<a href="cart.html">Web designing </a>
                                                </td>

												<td class="courses-price">
													<span class="unit-amount">$40.00</span>
												</td>

												<td class="courses-subtotal">
													<span class="subtotal-amount">$40.00</span>

													<a href="cart.html" class="remove">
														<i class="ri-delete-bin-6-line"></i>
													</a>
												</td>
											</tr>

                                            <tr>
												<td class="courses-thumbnail">
													<a href="cart.html">
														<img src="{% static 'images/courses/courses-img3.jpg' %}" alt="Image">
													</a>
												</td>

												<td class="courses-name">
													<a href="cart.html">Advance Web designing </a>
                                                </td>

												<td class="courses-price">
													<span class="unit-amount">$35.00</span>
												</td>

												<td class="courses-subtotal">
													<span class="subtotal-amount">$35.00</span>

													<a href="cart.html" class="remove">
														<i class="ri-delete-bin-6-line"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="cart-buttons">
									<div class="row align-items-center">
										<div class="col-lg-7 col-md-7">
											<div class="continue-shopping-box">
												<a href="courses.html" class="default-btn">
													Add More Courses
												</a>
											</div>
										</div>

										<div class="col-lg-5 col-md-5 text-end">
											<a href="cart.html" class=" default-btn">
												Update Cart
											</a>
										</div>
									</div>
								</div>
                            </div>
						</form>
					</div>

                    <div class="col-lg-4">
                        <div class="cart-totals">
                            <h3>Order Summary</h3>
                            <ul>
                                <li>Subtotal <span>$150.00</span></li>
                                <li>Coupon <span>$20.00</span></li>
                                <li>Total <span><b>$130.00</b></span></li>
                            </ul>
                            <a href="checkout.html" class="default-btn border-radius-5">
                                Proceed to checkout
                            </a>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!-- End Cart Area -->
{% endblock %}