{% load static %}


<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %} {% endblock %}</title>
    <link rel=icon href="{% static 'assets/img/favicon.png' %}" sizes="20x20" type="image/png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">


    <!-- all plugins here -->
    <script src="{% static 'assets/js/vendor.js' %}"></script>
    <!-- main js  -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</head>
<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
        <form action="{% url 'home' %}" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

     <!-- navbar start -->
    <div class="navbar-area">
        <!-- navbar top start -->
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 text-md-left text-center">
                        <ul>
                            <li><p><i class="fa fa-map-marker"></i> Milk Street | Royal Victoria Docks | North Woolwich | London  E16 2NG</p></li>
                            <li><p><i class="fa fa-envelope-o"></i>  info@elyoneducomm.com</p></li>
                            <li><p><i class="fa fa-mobile"></i>  07535746068</p></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="topbar-right text-md-right text-center">
                            <li class="social-area">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar bg-white navbar-area-1 navbar-area navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <h4>Elyon Global <br> Learning Hub</h4>
                    </a>
                </div>


                <div class="nav-right-part nav-right-part-mobile">
                    {% if request.user.is_authenticated %}
                          {% if request.user.is_superuser %}
                               <a class="signin-btn" href="{% url 'add_course' %}">Add Course</a>
                                <a class="btn btn-base" href="{% url 'add_blog' %}">Add Blog</a>
                          {% endif %}
{#                                 <a class="signin-btn" href="{% url 'profile' %}">Sign In</a>#}
                                <a class="btn btn-base" href="{% url 'account_logout' %}">Sign Out</a>
                           {% else %}

                                  <a class="signin-btn" href="{% url 'account_login' %}">Sign In</a>
                                 <a class="btn btn-base" href="{% url 'account_signup' %}">Sign Up</a>
                    {% endif %}

                    <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
                </div>


                <div class="collapse navbar-collapse" id="elyonglobalearning_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="menu-item-has-children current-menu-item">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Course Information</a></li>
                                <li><a href="index-2.html">Awarding Bodies Profile</a></li>
                                <li><a href="index-3.html">Partners Profile</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Course</a>
                            <ul class="sub-menu">
                                <li><a href="course.html">Childcare</a></li>
                                 <li><a href="course.html">Health and Social Care</a></li>
                                <li><a href="course-details.html">Business Support and Tourism</a></li>
                                 <li><a href="course-details.html">Languages</a></li>
                                <li><a href="course.html">British Sign Language [BSL]</a></li>
                                <li><a href="course-details.html">Functional Skills</a></li>
                                 <li><a href="course-details.html">Employability Skills</a></li>
                                <li><a href="course-details.html">Life in UK</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">About us</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="event-details.html">Global Career day</a></li>
                                <li><a href="team.html">External Quality Assessor Profile</a></li>
                                <li><a href="team.html">Internal Quality Assessor Profile</a></li>
                                <li><a href="team-details.html">Skill Coach Profile </a></li>
                                <li><a href="team-details.html">Learners Portfolio </a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="signin.html">Sign In</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu"><li><a href="https://graceobapublications.wordpress.com/">graceobapublications</a></li></ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Testimony</a>
                            <ul class="sub-menu">
                                 <li><a href="Learners-Testimony.html">Learners Testimony</a></li>
                                 <li><a href="Staff-Testimony.html">Staff Testimony</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">


                    {% if request.user.is_authenticated %}
                          {% if request.user.is_superuser %}
                               <a class="signin-btn" href="{% url 'add_course' %}">Add Course</a>
                                <a class="btn btn-base" href="{% url 'add_blog' %}">Add Blog</a>
                          {% endif %}
{#                                 <a class="signin-btn" href="{% url 'profile' %}">Sign In</a>#}
                                <a class="btn btn-base" href="{% url 'account_logout' %}">Sign Out</a>
                           {% else %}

                                  <a class="signin-btn" href="{% url 'account_login' %}">Sign In</a>
                                 <a class="btn btn-base" href="{% url 'account_signup' %}">Sign Up</a>
                    {% endif %}
                    <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->


    {% block content %}
    {% endblock %}







    <!-- footer area start -->
    <footer class="footer-area bg-gray">
        <div class="footer-subscribe">
            <div class="container">
                <form class="footer-subscribe-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="single-input-inner style-border-bottom">
                                <input type="text" placeholder="Your Full Name">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="single-input-inner style-border-bottom">
                                <input type="text" placeholder="Your Email Address">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <a class="btn btn-base" href="#">Enrol for course choice</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_contact">
                            <h4 class="widget-title">Contact Us</h4>
                            <ul class="details">
                                <li><i class="fa fa-map-marker"></i> Milk Street | Royal Victoria Dock | North Woolwich | London | E16 2NG</li>
                                <li><i class="fa fa-envelope"></i> info@elyoneducomm.com</li>
                                <li><i class="fa fa-phone"></i> 07535746068</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_nav_menu">
                            <h4 class="widget-title">Course</h4>
                            <ul>
                                <li><a href="course.html">Childcare </a></li>
                                <li><a href="course.html">Health and Social Care</a></li>
                                <li><a href="course.html">Business Support and Tourism</a></li>
                                <li><a href="course.html">Languages</a></li>
                                <li><a href="course.html">British Sign Language</a></li>
                                <li><a href="course.html">Functional Skills</a></li>
                                <li><a href="course.html">Employability Skills</a></li>
                                <li><a href="course.html">Life in UK </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_blog_list">
                            <h4 class="widget-title">News & Blog</h4>
                            <ul>
                                <li>
                                    <h6><a href="https://graceobapublications.wordpress.com/2015/05/20/critically-analyse-the-significance-of-theories-principles-and-models-of-inclusive-curriculum-to-the-design-and-implementation-of-programes-of-study-within-two-different-contexts/.html">Critically analyse the significance of theories, principles and models of inclusive curriculum to the design and implementation.....</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>May 5, 2015</span>
                                </li>
                                <li>
                                    <h6><a href="https://graceobapublications.wordpress.com/2013/08/02/special-educational-needs-and-disability-act-2001-and-welfare-right/.html">Special Educational Needs, Disability Act 2001 And Welfare right</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>August 2, 2013</span>
                                    <h6><a href="https://graceobapublications.wordpress.com/2013/01/13/breaking-british-barrier-of-segregation-within-hearing-lost-2/.html">Breaking British Barrier of segregation Within hearing lost</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>January 13, 2013</span>
                                    <h6><a href="https://graceobapublications.wordpress.com/2013/01/13/what-a-wonderful-benefit-of-another-apps-generation/.html">What a wonderful benefit of another apps generation</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>January 13, 2013</span>
                                    <h6><a href="https://graceobapublications.wordpress.com/2013/01/10/social-impact-of-urbanization-in-africa-seminar-presentation/.html">Social impact of urbanization in Africa: Seminar Presentation</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>January 10, 2013</span>
                                    <h6><a href=https://graceobapublications.wordpress.com/2013/01/10/learn2gain-drive/"blog-details.html">learn2gain Drive</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>January 10, 2013</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_contact">
                            <h4 class="widget-title">Twitter Feed</h4>
                            <ul class="details">
                                <li>
                                    <i class="fa fa-twitter"></i>
                                    Simply dummy brand  <a href="#">https//tweets/c3l.com</a>
                                    <div class="time">9 Hours ago</div>
                                </li>
                                <li>
                                    <i class="fa fa-twitter"></i>
                                    Simply dummy brand  <a href="#">https//tweets/c7l.com</a>
                                    <div class="time">9 Hours ago</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 align-self-center">
                        <a href="{% url 'home' %}"><img src="{% static 'assets/img/footer-logo.png' %}" alt="img"></a>
                    </div>
                    <div class="col-lg-4  col-md-6 order-lg-12 text-md-right align-self-center">
                        <ul class="social-media mt-md-0 mt-3">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3">
                        <p>copyright 2021 by edumint.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->



</body>
</html>